<!-- footer -->
<footer class="footer container">
	<hr class="soften">
	<p>
		<span class="pull-right">
		<a href="/">About</a> / 
		<a href="/">Download</a> / 
		<a href="/">Documentation</a> / 
		<a href="/">Support</a>
		</span>
		<strong>VIA!</strong>
	</p>
</footer><!-- footer -->